@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap',);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CAE4DB;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/*------------ Footer */
.social-media li {
    text-align: center;
    font-size: 36px;
}

.social-media a {
    color: #fff;
    padding: 10px;
}

.social-media {
    display: inline-flex;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    padding: 15px;
    justify-content: space-between;
}

.sm-area {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #00303F;
}

.card {
    display: flex;
    max-width: 250px;
    max-height: auto;
}

.statescards {
    display: flex;
    justify-content: space-evenly;
}

#navbar {
    background-color: #00303F;
}

#navbar a {
    text-decoration: none;
    color: #DCAE1D;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 70%;
    
}

nav {
    background-color: #7a9d96;
}

.waves-effect {
    background-color: #DCAE1D
}

/* login */

