@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap', );
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$background-color: #f1f1f1;
$height: 40px;
$link-color: #039be5;
$pixels-10: 10px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CAE4DB;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*------------ Footer */
.social-media li {
    text-align: center;
    font-size: 36px;
}

.social-media a {
    color: #fff;
    padding: 10px;
}

.social-media {
    display: inline-flex;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    padding: 15px;
    justify-content: space-between;
}

.sm-area {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #00303F;
}

.card {
    display: flex;
    max-width: 300px;
    max-height: auto;
}

.statescards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#navbar {
    background-color: #00303F;
}

#navbar a {
    text-decoration: none;
    color: #DCAE1D;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 70%;

}

nav {
    background-color: #7a9d96;
}

.waves-effect {
    background-color: #DCAE1D
}


/* flashes */


.flashes h4 {
    line-height: 2;
}

/* login */

#panell {
    margin-top: 100px;
    padding: 0px;
}

#loginbtn {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

#title {
    background-color: #2bbbad;
    color: black;
    padding: 8px;
    margin-top: 0px
}

form {
    padding: 0px;
    border-radius: 3px;
    box-sizing: border-box;
}

#username,
#password {
    margin-left: 20px;
    margin-right: 20px;
}

#loginbttn {
    background-color: #DCAE1D;
}

#hotel_form {
    display: flex;
}

.hotelcard {
    display: flex;
    justify-content: space-evenly;

}

.cardimg {
    max-width: 400px;
    height: 300px;
}