{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/62562614.jpg?k=3dc3f6be4794dd0974e167856a243c402cc77621250fd00feef3246224b5f1d8&o=&hp=1">
                <span class="card-title">Pontal do Ubu</span>
            </div>
            <div class="card-content">
                <p>This property is 5 minutes walk from the beach. This secluded resort offers stunning ocean views and
                    is just 100 yards from Ubú Beach, Espirito Santo´s most beautiful coastline.
                    It features an outdoor pool, tennis court and free WiFi. The spacious suites at Hotel Pontal de Ubu
                    offer practical beach accommodation with pale cream interiors.
                    All have air conditioning, a TV, minibar, and private balconies with hammocks and sea views.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/pontal-de-ubu.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV%2A03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dist=0&group_adults=2&group_children=0&hapos=16&hpos=16&lang=en-gb&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&soz=1&sr_order=popularity&srepoch=1647712504&srpvid=1fa77dfb881501ae&type=total&ucfs=1&lang_click=other;cdl=pt-pt;lang_changed=1">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/104208787.jpg?k=98531bec078a8aae5ede1af78aba0d36d939af85d48afc70107a327b500cddf0&o=&hp=1">
                <span class="card-title">Hotel Ilha do Boi</span>
            </div>
            <div class="card-content">
                <p>This property is 4 minutes walk from the beach. Located in Vitória, 1.3 miles from Camburi, Hotel
                    Senac Ilha do Boi provides accommodation with a restaurant, free private parking,
                    a seasonal outdoor swimming pool and a bar. Among the facilities at this property are a 24-hour
                    front desk and room service, along with free WiFi throughout the property.
                    Guests can make use of a garden.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/senac-ilha-do-boi.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV%2A03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=2506136&dest_type=hotel&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&lang=en-gb&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&soz=1&sr_order=popularity&srepoch=1647712817&srpvid=d6ea7e975b170198&type=total&ucfs=1&lang_click=other;cdl=pt-pt;lang_changed=1">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/60739426.jpg?k=ca2e72136f98db1c9bbc379b9feb00de27828316792b9f6a2dcb74829943352e&o=&hp=1">
                <span class="card-title">Arena Leme Hotel</span>
            </div>
            <div class="card-content">
                <p>Arena Leme Hotel offers beachfront accommodation in Rio de Janeiro, only 800 yards from Praia de
                    Copacabana beach. The hotel has an outdoor pool and sauna, and guests can enjoy a meal at the
                    restaurant. Daily breakfast is served free of charge.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/arena-leme.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=-666610&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=2&hpos=2&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1647713400&srpvid=359f7fbb77cb01b5&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/275876463.jpg?k=b31ffdf67c7b6c804063bbb1a4f0c9de947fb41fb085b660901443772609f537&o=&hp=1">
                <span class="card-title">Hilton Copacabana</span>
            </div>
            <div class="card-content">
                <p>The 5-star Hilton Rio de Janeiro Copacabana is ideally located across from the blue waters of
                    Copacabana Beach. It features an elegant spa and a rooftop pool, both with splendid sea views.
                    Hilton Rio de Janeiro Copacabana offers bright, sophisticated rooms with air conditioning, a TV and
                    a minibar. They are elegantly styled with wooden furniture, contemporary decor and warm, natural
                    tones. Most rooms feature amazing ocean views.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/hilton-copabacana.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=-666610&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=class&srepoch=1647713961&srpvid=2c7480c7c41901b5&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/101329427.jpg?k=93c5344336b4e55cab5e0bc8f8a208474b83514358cca7628929430af82cd757&o=&hp=1">
                <span class="card-title">Palacio Tangara</span>
            </div>
            <div class="card-content">
                <p>Palácio Tangará - an Oetker Collection Hotel is built in the surroundings of the highly regarded
                    Burle Marx Park, the hotel offers 141 spacious guestrooms - including 59 suites – all with beautiful
                    views overlooking the park. Some rooms feature a balcony or a furnished terrace.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/palacio-tangara.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=-671824&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&hpos=3&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=bayesian_review_score&srepoch=1647714203&srpvid=4ebd8148c10f00f5&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/328709496.jpg?k=974518286bd64f2e6e74ba5ddb537f01665ceea25671b6da829f8192c11adb8a&o=&hp=1">
                <span class="card-title">Charlie Itaim</span>
            </div>
            <div class="card-content">
                <p>Situated in Sao Paulo in the Sao Paulo State region, with Ibirapuera Park nearby, Charlie Itaim
                    features accommodation with free WiFi and free private parking, as well as access to an indoor
                    swimming pool.
                    Accommodation is fitted with air conditioning, a fully equipped kitchenette, a flat-screen TV and a
                    private bathroom with shower and a hairdryer. A microwave and fridge are also available, as well as
                    a coffee machine.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/charlie-in-itaim.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=-671824&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=7&hpos=7&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1647714292&srpvid=deb18179653d0077&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/204470714.jpg?k=506078c42ed7fce51d0d0badfb251bdd6ae4add6147f6c1299316c3f95ef7175&o=&hp=1">
                <span class="card-title">Double Tree by Hilton</span>
            </div>
            <div class="card-content">
                <p>Double Tree by Hilton São Paulo Itaim features a restaurant, outdoor swimming pool, a fitness centre
                    and bar in Sao Paulo. This 5-star hotel offers a 24-hour front desk, room service and free WiFi.
                    Private parking can be arranged at an extra charge.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/sao-paulo-itaim-by-atlantica.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=-671824&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=47&hpos=22&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1647715490&srpvid=fc9c820a3d57006f&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/97684887.jpg?k=a76f436c2b5620a24fb947ae7ba322cf02f5682c2997d1dca4b1736712f9ba8f&o=&hp=1">
                <span class="card-title">Campo Bahia Hotel Villas Spa</span>
            </div>
            <div class="card-content">
                <p>Located in a small fishing village called Santo André, Campo Bahia offers an outdoor pool and a spa
                    and wellness centre. This self-catering accommodation features free WiFi and a daily breakfast.
                    Campo Bahia offers villas or a double room in a villa. Both provide a TV and air conditioning. The
                    villas include a spacious living room. Featuring a shower, the private bathroom comes with a
                    hairdryer. Extras include satellite channels.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/campo-bahia.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV%2A03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=644&dest_type=region&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&lang=en-gb&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&soz=1&sr_order=class&srepoch=1647719768&srpvid=b0588c2928d3010d&type=total&ucfs=1&lang_click=other;cdl=pt-pt;lang_changed=1">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/42149580.jpg?k=7cacfafcb33dc79b8bfc0a9dcef9c07adc2bac2e64828d6d17601047459ddc5a&o=&hp=1">
                <span class="card-title">Vila Angatu Eco Resort SPA</span>
            </div>
            <div class="card-content">
                <p>This property is 1 minute walk from the beach. Situated on the Atlantic coast, Vila Angatu Eco Resort
                    SPA occupies a secluded location with direct beach access. It features an outdoor pool, tennis
                    courts and free internet access in public areas.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/costa-brasilis-resort.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV%2A03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=-669418&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=4&hpos=4&lang=en-gb&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&soz=1&sr_order=popularity&srepoch=1647719979&srpvid=c4588c9413a100c0&type=total&ucfs=1&lang_click=other;cdl=pt-pt;lang_changed=1">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/322622120.jpg?k=4171ebcabd04b16c60668eb56bd32b1acc09c5a74e07a7099d103ea002014d3a&o=&hp=1">
                <span class="card-title">Sitio das Jaqueiras</span>
            </div>
            <div class="card-content">
                <p>This property is 8 minutes walk from the beach. Offering an outdoor pool, Sitio Alfazendinha das
                    Jaqueiras is set in Santo André in the Bahia Region. This property has a sun terrace and views of
                    the sea, and guests can enjoy a drink at the bar. Free private parking is available on site.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/sitio-alfazendinha-das-jaqueiras.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV%2A03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=-669418&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=10&hpos=10&lang=en-gb&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&soz=1&sr_order=popularity&srepoch=1647720141&srpvid=2e6d8ce588cf0253&type=total&ucfs=1&lang_click=other;cdl=pt-pt;lang_changed=1">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/321215836.jpg?k=b231f916058e722f3645795f933f543d917a739c03954a35683aa0ae906a4269&o=&hp=1">
                <span class="card-title">Pousada Paradise Kite Club</span>
            </div>
            <div class="card-content">
                <p>This property is 6 minutes walk from the beach. Situated in Cumbuco, 600 yards from Cumbuco Beach,
                    Pousada Paradise Kite Club features accommodation with an outdoor swimming pool, free private
                    parking, a shared lounge and a garden. Boasting family rooms, this property also provides guests
                    with a sun terrace. Some rooms at the property have a balcony with a garden view.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/paradise-kite-club.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=645&dest_type=region&dist=0&group_adults=2&group_children=0&hapos=3&hpos=3&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1647720312&srpvid=f1b88d3bacf500f5&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/346738645.jpg?k=1d463c958c9ba2ef6174a133135ffa1fdbbb4eb8b104b4e3357a0c131cfa1dcf&o=&hp=1">
                <span class="card-title">Carmel Cumbuco Resort</span>
            </div>
            <div class="card-content">
                <p>This property is 1 minute walk from the beach. Offering outdoor pools and a fitness centre, Carmel
                    Cumbuco Resort offers beachfront accommodations located in Cumbuco. Free WiFi access is available.
                    Daily breakfast is served free of charge.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/carmel-cumbuco-resort.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=900040292&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&hpos=3&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1647720407&srpvid=b2758d6b1ec50058&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/128088263.jpg?k=a9f94a8ff224bab5c6f7d99896e964b307ed1f5897e8e265617415f1b181ed11&o=&hp=1">
                <span class="card-title">Duro Beach Hotel</span>
            </div>
            <div class="card-content">
                <p>This property is 1 minute walk from the beach. Duro Beach is a rustic hotel with modern facilities
                    idyllically located on Duro Beach, famous for windsurfing and kite surfing. The outdoor pool offers
                    stunning views of Cumbuco´s white beaches.</p>
            </div>
            <div class="card-action">
                <a
                    href="https://www.booking.com/hotel/br/duro-beach.en-gb.html?aid=376362&label=booking-name-76kIZu_r4nV*03zZ39ZGBAS461484956115%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9045891%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YTQUGSsRwx9_llxDbUbGjaI&sid=5bb5ff587bc40cb2ca0217214a23fbf2&dest_id=900040292&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=10&hpos=10&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1647721755&srpvid=e473900c035e0231&type=total&ucfs=1&activeTab=main">This
                    is a link</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}