{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}

<div class="destinations col s8">
    <h4 class="title">Destinations</h4>
      <hr>
  </div>

<div class="statescards">
{% for hotel in hotels %}

<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img class="hotelsimg" src="{{hotel['img_url']}}" alt="hotel-img">
                <span class="card-title">{{hotel['name']}}</span>
            </div>
            <div class="card-content">
                <p>{{hotel['description']}}</p>
            </div>

            <div class="card-action">
                <a
                    href="{{hotel['hotel_link']}}">BOOK
                    NOW
                </a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}