{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}


<div class="statescards">
{% for hotel in hotels %}

<div class="row">
    <div class="col s12 m7">
        <div class="card large">
            <div class="card-image">
                <img id="hotelsimg"
                    src="{{hotel['img_url']}}">
                <span class="card-title">{{hotel['name']}}</span>
            </div>
            <div class="card-content">
                <p>{{hotel['description']}}</p>
            </div>

            <div class="card-action">
                <a class="btn waves-effect waves-light" href="{{ url_for('edit') }}?id={{ hotel['_id'] }}">Edit<i
                    class="material-icons">arrow_back</i></a>
                <a class="btn waves-effect waves-light" href="#">Delete<i
                    class="material-icons">arrow_back</i></a>  
            </div>
        </div>
    </div>
</div>

{% endfor %}
</div>


{% endblock %}
{% block footer %}
{% endblock %}