{% extends "base.html" %}
{% block content %}

<div class="container col s8" id="register">
  <div class="row">
    <nav>
      <div class="nav-wrapper">
        <div class="col s8">
          <h3 class="brand-logo col s8">Please Register</h3>
        </div>
      </div>
    </nav>

  </div>
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
    <div class="row">
      <div class="input-field hoverable col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" name="username" type="text" minlength="5" maxlength="12" class="validate" required>
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field hoverable col s6">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" name="password" type="password" minlength="5" maxlength="12" pattern="^[a-zA-Z0-9]{5,15}$"
          class="validate" required>
        <label for="password">Password</label>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn right hoverable"><i
        class="large material-icons right">done</i>register</button>
  </form>

</div>
<br>
<br>

{% endblock %}