{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}

<div class="destinations col s8">
  <h4 class="title">Destinations</h3>
    <hr>
</div>



<div class="statescards">
  {% for state in states %}
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{state['img_url']}}">
        </div>
        <div class="card-content">
          <p>{{state["state"]}}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('hotels') }}?state={{state['state']}}">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  
{% endfor %}
</div> 


{% endblock %}
{% block footer %}
{% endblock %}